# Title

Whatever text

* Hi, I am a bullet point

In [1]:
print('Hello everyone')

Hello everyone

In [2]:
import pandas as pd

In [4]:
pd.read_csv('./magist/data/csv/customers.csv', sep=';')

                            customer_id  customer_zip_code_prefix
0      7ae2a9337aa4bc799723511faa1d6830                      1003
1      a09edf8c1e842e94805a206b3d73eed5                      1004
2      ee9b73e88afb4904ee2322cfc89cf638                      1004
3      15d7dbcd027b5b24866db33e2b819021                      1005
4      5a8b64ee6ccdae09ea823e6aa00e9517                      1005
...                                 ...                       ...
99436  f93bb6c70a7306d18a24f77f1889916d                     99965
99437  3ab8bc00f8740d54afc4c771fb6c7f69                     99970
99438  657ba09c6edfbbc09f6054f541ec1f90                     99980
99439  964b34423c822e9bd9831635ccc83db2                     99980
99440  f04c3f6e20a2a4318d97d7cec1d27bbf                     99990

[99441 rows x 2 columns]